/* NavBarTop Styles */

.navBar {
  display:flex;
  flex-direction:row;
  background:#ffffff;
  background-size: cover;
  width:auto;
  height:200px;
  justify-content:space-between;
  align-items:center;
  box-shadow: 8px 12px #f2736a;
  padding-left: 30px;
  padding-right: 20px
}

.siteName {
  width:40%;
  font-size:5.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  font-family: 'Grand Hotel', cursive;
  line-height:40px;
  color:#c21622;
  flex-wrap: wrap;
  flex-direction: row;
}




.nav {
  width:auto;
  display:flex;
  flex-direction:row;
  margin-left: 0px;
  float: right;
  flex-shrink: 4;
  flex-wrap: wrap;
}

.navButton {
  color:#c21622;
  font-size:2em;
  text-decoration:none;
  align-items: center;
  float: right;
  padding-right: 10px;
  padding-left: 5px;
  margin-right: 10px;
  margin-left: 5px;

  font-family: 'Mouse Memoirs', sans-serif;
}

.menuIcon {
  display:none;
}
