/* NavBarTop Mobile Styles */

@media (max-width: 768px) {

  .siteName {
    width:50%;
    font-size:4em;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height:60px;
    flex-wrap: wrap;
    flex-direction: row;
    font-size-adjust: 25%;
    flex-shrink: 1;
  }



  .nav {
    display:none;
  }


  .menuIcon {
    display:flex;
    margin-right:15px;
    font-size:1.5em;
    color: #f2b5a3;
  }

  .navMobile {
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  }


  .navButton {
    padding:10px;
    margin:0 auto;
    margin-top:10px;
    background:#ffffff;
    width:90%;
    border-radius:5px;
    display:flex;
  }
}
